p#notice
  = notice
= link_to 'Back', products_path
p
  strong
    | Name:
  = @product.name
p
  strong
    | Price:
  = @product.price

= form_with(model: Order.new, local: true, url: orders_path, method: :post, id: 'payment-form', class: 'js-order-form') do |form|
  #card-element
  #card-expiry-element
  #card-cvc-element
  #card-errors style="color: red;"
  = form.submit '購入', class: 'js-order-submit-btn'

javascript:
  const form = document.querySelector("#payment-form")
  if (form) {
    const publicKey = process.env.STRIPE_PUBLIC_KEY;
    const stripe = Stripe(publicKey);
    const elements = stripe.elements();
    const style = {
      base: {
        color: "#32325d",
        fontFamily: 'Arial, sans-serif',
        fontSmoothing: "antialiased",
        fontSize: "16px",
        "::placeholder": {
          color: '#CFD7E0'
        }
      },
      invalid: {
        fontFamily: 'Arial, sans-serif',
        color: "#fa755a",
        iconColor: "#fa755a"
      }
    };

    const card = elements.create('cardNumber', { style: style });
    card.mount('#card-element');

    const cardExpiry = elements.create('cardExpiry', { style: style });
    cardExpiry.mount('#card-expiry-element');

    const cardCvc = elements.create('cardCvc', { style: style });
    cardCvc.mount('#card-cvc-element');

    card.addEventListener('change', (event) => {
      const displayError = document.getElementById("card-errors");
      if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = '';
      }
    })

    form.addEventListener('submit', (event) => {
      $('.js-order-submit-btn').prop('disabled', true);
      event.preventDefault();
      let data = {
        payment_method: {
          card: card
        }
      };

      stripe.confirmCardPayment(form.dataset.paymentIntentId, data).then((result) => {
        if (result.error) {
          $('.js-order-submit-btn').prop('disabled', false);
          const errorElement = document.getElementById("card-errors");
          errorElement.textContent = result.error.message;
        } else {
          if (result.paymentIntent.status === 'succeeded') {
            form.submit();
          }
        }
      })
    })
  }
